.recent-entry{
  height: 15vh;
  width: auto;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-width: 1px;
  border-radius: 1vh;
  text-align: center;
  margin-bottom: 1vh;
}
.recent-contents{
  padding-top: 7vh;
}
.header-margin{
  margin-top: 20vh;
}
.recent-header{
  height: 2.5vh;
  text-align: center;
}
.recent-container{
  border-width: 2px;
  border-color: grey;
  background-color: #e5e4e4;
  opacity: 10;
  padding-bottom: 2.5vh;
  border-radius: 1vh;
}
